<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% include template/header.ejs%>

    <h1><%= title %></h1>

    <p></p>

    <p><%= videodata.categoryName %></p>

    <ul>
		<% videodata.categories.forEach(function(item){ %>
			<li><%= item.categoryName %></li>
		<%})%>
    </ul>

  </body>
</html>
